body {
  font-family: "Raleway", sans-serif;
}

/* Hero Section */

#Hero-Section {
  background-image: url("../img/fondo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 750px;
}

/* Mis trabajos */

#Mis-trabajos .image-top {
  height: 250px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* Contacto */

#Contacto form label {
  font-weight: 700;
  color: #373a3c;
}

nav img {
  width: 200px;
}

.container h1 {
  font-size: 4rem;
}

.container p {
  font-size: 24px;
}

#Mis-trabajos {
  background-color: royalblue;
}

#boton_final {
  background-color: royalblue;
}

.card-body {
  background-color:antiquewhite ;
}

a {
  text-decoration: none;
}

@media (max-width: 1000px) {
  .container h1 {
    font-size: 3rem;
  }

  .container p {
    font-size: 1.4rem;
  }
}

@media (max-width: 768px) {
  #Contacto form label {
    font-weight: 400;
  }

  .navbar-brand{
    width: 150px;
  }

  .container h1 {
    font-size: 2.5rem;
  }

  .container p {
    font-size: 1rem;
  }
}

